{
  "HealthFunction": {
    "TABLE_NAME": "learning-profile"
  },
  "AuthFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "ChildrenFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "GuardianshipFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "ConsentFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "FormsFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "ObservationsFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "AssessmentFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "PredictFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "RecommendationsFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "ReportsFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "FILES_BUCKET": "learning-profile-files",
    "REPORT_QUEUE_URL": "https://sqs.<REGION>.amazonaws.com/<ACCOUNT_ID>/learning-profile_reports"
  },
  "ModelsFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  },
  "AuditFunction": {
    "TABLE_NAME": "learning-profile",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000"
  }
}
